body {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-size: 13pt;
}

.main {
  margin: 1rem 0rem 1rem 0rem;
}

.navbar-brand {
  font-size: 26pt;
}

.navbar-toggler-icon {
  border-color: blueviolet;
}

.nav-item {
  font-size: 26pt;
}

.card {
  border: none;
}

.card-img-overlay {
  text-align: center;
}

.card-text {
  text-align: center;
}

.scrollbox {
  max-height: 24rem;
  overflow-y: auto;
}

.footer {
  padding: none;
  text-align: center;
}

.badge {
  font-size: 10pt;
}

.btn {
  font-size: 24pt;
  border: none;
}

.btn:focus {
  box-shadow: none;
}

.learnmore {
  font-size: 12pt;
}

.collapse {
  height: auto;
  width: auto;
}

.scroll {
  overflow-y: auto;
}

#navbarToggleExternalContent {
  float: right;
}

.menu {
  font-size: 30pt;
  text-shadow: 1px 1px darkslateblue;
}

#indexbody {
  background-image: url("../../assets/images/lightleak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#portfoliobody {
  background-image: url("../../assets/images/crashingwave.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#contactbody {
  background-image: url("../../assets/images/greenwater.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#maxpic {
  margin: 0rem 2rem 1rem 0rem;
}
